MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=quizdb
MYSQL_USER=quizuser
MYSQL_PASSWORD=

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/quizdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_SQL_INIT_MODE=always